<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<div class="row">
</div>

<div class="test" *ngFor="let i of testArr">
  {{i}}
</div>

<h5>{{findPrimeNumber(7)}}</h5>

<h5>{{createFibonnaciSequence(8)}}</h5>

<h5>{{drawSequence(10)}}</h5>

<h5>{{removeDuplicatesFromArray([2, 4, 8, 76, 5, 2, 4, 6, 5])}}</h5>

<h5>{{add(1)(4)(5)}}</h5>

<h5>Merge Two: {{mergeTwoSortedArrays([1,8,16], [4,6,9])}}</h5>

<h3>{{matchSumOfTwoElements([34,12,3,2,7], 41)}}</h3>

<h3>The largest sum of two: {{largestSumOfTwo([9, 5, 23, 5, 87])}} </h3>

<h3>Missing Number: {{missingNumber([8, 3, 2, 5, 7, 6])}}</h3>

<h3>Swap Numbers: {{swapNumbers(10, 8)}}</h3>

<h3>Sort Numbers: {{sortNumbers([34, 21, 76, 2, 1, 45])}}</h3>

<h3>{{findNonRepeatingChar('the quick brown fox jumps then quickly blow air')}}</h3>

<h3>Largest Sum: {{largestSumOfTwo([34, 21, 76, 2, 1, 45])}}</h3>